@for (message of messages; track $index) {
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card m-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title">
                                {{message.userid ? message.userid : 'Anonyme'}}
                            </h5>
                            @if (canDeleteMessage(message)) {
                                <button class="btn btn-link text-danger" 
                                        (click)="deleteMessage(message.id)">
                                    <i class="bi bi-trash"></i>
                                </button>
                            }
                        </div>
                        <h6 class="card-subtitle mb-2 text-muted">
                            {{message.date.value | date: 'short'}}
                        </h6>
                        <p class="card-text">{{message.message}}</p>
                        <app-etoiles [rating]="message.rating"></app-etoiles>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
