.sidebar {
    background-color: #191c1f; /* Couleur de fond sombre */
    transition: background-color 0.3s ease; /* Transition pour le changement de couleur */
}

.sidebar:hover {
    background-color: #495057; /* Couleur plus claire au survol */
}

.nav-item {
    padding: 10px 15px; /* Ajout de padding pour un espacement confortable */
    transition: background-color 0.2s; /* Transition pour l'effet de survol */
}

.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Effet de survol */
}

.nav-link {
    transition: color 0.3s; /* Transition pour le changement de couleur */
}

.nav-link:hover {
    color: #007bff; /* Couleur du lien au survol */
}

.btn-outline-danger {
    border-color: #dc3545; /* Couleur du bouton */
}

.btn-outline-danger:hover {
    background-color: #dc3545; /* Couleur de fond du bouton au survol */
    color: white; /* Couleur du texte au survol */
}

.form {
    --bg-light: #efefef;
    --bg-dark: #707070;
    --clr: #58bc82;
    --clr-alpha: #9c9c9c60;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 300px;
  }
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.login-input {
    padding: 10px;
    border: 1px solid #444;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    color: white;
}

.login-button {
    padding: 10px;
    background: #00ff40;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.login-button:disabled {
    background: #555;
    cursor: not-allowed;
}

.signup-link {
    text-align: center;
    margin-top: 10px;
}
.card {
    width: 100%;
    background-color: #343a40;
    border-radius: 8px;
    z-index: 1;
    margin-top: auto;
  }
  
  .tools {
    display: flex;
    align-items: center;
    padding: 9px;
  }
  
  .circle {
    padding: 0 4px;
  }
  
  .box {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  
  .red {
    background-color: #ff605c;
  }
  
  .yellow {
    background-color: #ffbd44;
  }
  
  .green {
    background-color: #00ca4e;
  }
  
  .card__content {
    padding: 15px;
  }