<div class="container-fluid">
    <div class="row">
      <!-- sidebar -->
      <div class="col-2 sidebar bg-dark vh-100 flex-column d-flex p-3 fixed-top">
          <div class="row mb-4">
              <div class="col-10">
                  <a class="navbar-brand text-white d-block mx-auto text-start bottom-border" 
                     (click)="selectionVue('intro')" 
                     style="cursor: pointer;">
                      TP GHILAS
                  </a>
              </div>
              <div class="col-2 text-end" (click)="toggleVue()" style="cursor: pointer;">
                  <i class="bi bi-caret-left-square text-white"></i>
              </div>
          </div>
          <div class="row col-5 mx-auto mb-4" (click)="selectionVue('intro')">
              <!-- <img src="../../../../../assets/images/logo.png" width="100" class="rounded-circle mx-auto img-fluid"> -->
          </div>
          <ul class="navbar-nav flex-column mt-4">
            <li class="nav-item mb-3 position-relative" (click)="selectionVue('commentaires')" style="cursor: pointer;">
                <i class="bi bi-chat-left-dots text-white"></i>
                <span class="position-absolute top-0 start-75 translate-middle badge rounded-pill bg-danger">
                    {{commentCount}}
                </span>
                <a class="nav-link text-white d-none d-md-inline ms-2">Commentaires</a>
             </li>
              <li class="nav-item mb-3" (click)="selectionVue('capture')">
                <i class="bi bi-card-text" [class.text-secondary]="!sessionExist" [class.text-white]="sessionExist"></i>
                <a class="nav-link d-none d-md-inline ms-2" [class.text-secondary]="!sessionExist" 
                   [class.text-white]="sessionExist" [class.disabled]="!sessionExist">Capture</a>
            </li>
            <li class="nav-item mb-3">
                <i class="bi bi-bar-chart-line" [class.text-secondary]="!sessionExist" [class.text-white]="sessionExist"></i>
                <a class="nav-link d-none d-md-inline ms-2" [class.text-secondary]="!sessionExist" 
                   [class.text-white]="sessionExist" [class.disabled]="!sessionExist">Rapport</a>
            </li>
              <li class="nav-item mb-3">
                  <i class="bi bi-file-ruled text-secondary"></i>
                  <a class="nav-link text-secondary d-none d-md-inline disabled ms-2" i18n>Categories</a>
              </li>
              <li class="nav-item mb-3" (click)="selectionVue('aide')" style="cursor: pointer;">
                  <i class="bi bi-question text-white"></i>
                  <a class="nav-link text-white d-none d-md-inline ms-2" i18n>Aide</a>
              </li>
          </ul>
          <div class="align-items-end mt-auto d-md-inline d-md-none">
              <ul class="navbar-nav flex-column">
                  <li class="nav-item">
                      <i class="bi bi-person-fill text-white" (click)="activePanel()"></i>
                  </li>
              </ul>
          </div>

          @if (sessionExist) {
            <div class="card" tabindex="0" (blur)="restorePanel()">
                <div class="tools">
                    <div class="circle">
                        <span class="red box"></span>
                    </div>
                    <div class="circle">
                        <span class="yellow box"></span>
                    </div>
                    <div class="circle">
                        <span class="green box"></span>
                    </div>
                </div>
                <div class="card__content p-3">
                    <p class="text-white fw-bold">{{ currentUser }}</p>
                    <ul class="navbar-nav flex-column">
                        <li class="nav-item mb-2">
                            <i class="bi bi-person-lines-fill text-white"></i>
                            <a class="nav-link text-white d-none d-md-inline disabled ms-2">Profile</a>
                        </li>
                    </ul>
                    <button class="login-button mt-3" (click)="quitterSession()" i18n>Quitter</button>
                </div>
            </div>
         
          } @else {
            <div class="align-items-end mt-auto p-3" tabindex="0" (blur)="restorePanel()">
                <form class="login-form">
                    <input type="email" [(ngModel)]="courriel" name="email" placeholder="Courriel" class="login-input">
                    <input type="password" [(ngModel)]="motDePasse" name="password" placeholder="Mot de passe" class="login-input">
                    <button type="button" 
                            class="login-button"
                            [disabled]="courriel.length == 0 || motDePasse.length == 0" 
                            (click)="login()" i18n>Entrer</button>
                    <div class="signup-link">
                        <a (click)="creerCompte()" class="text-white" style="cursor: pointer;" i18n>Créer compte</a>
                    </div>
                </form>
             </div>
          }

         

          <ng-template #logoutMessagePortal>
              @if(showLogoutMessage) {
                  <div class="alert alert-info alert-dismissible fade show" role="alert" i18n>
                      Vous avez été déconnecté avec succès
                      <button type="button" class="btn-close" (click)="showLogoutMessage = false"></button>
                  </div>
              }
          </ng-template>
      </div>
    </div>
  </div>
    <!-- end of sidebar -->